<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="~{../views/pharmacy/layout.html}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/dist/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/web/dist/style/style.css">
    <link rel="stylesheet" href="/web/dist/MaterialDesignIcons/css/materialdesignicons.min.css">
    <title>Produits</title>
</head>
<body>
<div layout:fragment="body1" th:object="${pharmacy}">

    <div class="col-12 row ">
        <div th:each="p: ${stocks}" class="col-lg-4">
            <div th:insert="~{../views/card :: stock(${p}, @{/pharmacy/{id}/stock/{sid}/home(id=${pharmacy.id}, sid=${p.id})} ) }"></div>
        </div>
    </div>


</div>


</body>
</html>
