<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="~{../views/provider/layout.html}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/dist/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/web/dist/style/style.css">
    <link rel="stylesheet" href="/web/dist/MaterialDesignIcons/css/materialdesignicons.min.css">
    <title>Produit</title>
</head>
<body>
<div layout:fragment="body1" th:object="${stock}">
    <form class="col-lg-4" th:action="@{/stock/{id}/image(id=${stock.id})}" method="post"
          enctype="multipart/form-data" id="imageForm">
        <div class="col-12">
            <img th:src="@{/stock/{id}/image(id=${stock.id})}" alt="" class="br-50pc square-200"
                 id="image">
        </div>
        <div class="col-12 mt-3">
            <span class="file-group btn btn-info"><i class="mdi mdi-upload"></i>
            charger
            <input type="file" name="image"/>
        </span>

            <button class="btn btn-outline-success">mettre à jour</button>
        </div>
    </form>
    <div class="col-lg-8">
        <h4 class="text-capitalize" th:text="*{product.name}"></h4>
        <hr>
        <div class="col-12 row">
            <h6 class="col-12">
                Prix de vente en magasin &bull; <span class="text-bold" th:text="*{product.retailPrice} + ' FCFA'"></span>
            </h6>

            <hr>
            <h6 class="col-12 my-3">
                Prix de vente du fournisseur &bull; <span class="text-bold" th:text="*{product.wholeSalePrice} + ' FCFA'"></span>
            </h6>
            <hr>
            <h6 class="col-12 my-3">
                Quantité disponible &bull; <span class="text-bold" th:text="*{quantity} "></span>
            </h6>
            <h6 class="col-12 my-3">
                Description
            </h6>
            <div  class="col-12 my-1" th:text="*{product.description}"></div>

        </div>
        <hr>
    </div>
</div>


</body>
</html>
